<h2 class="text-center mb-3">New post</h2>

<%= form_for :post, url: posts_path, data: {turbo:false} do |f| %>

  <% if @post && @post.errors.any? %>
    <% @post.errors.full_messages.each do |msg| %>
      <div class="alert alert-danger"><%= msg %></div>
    <% end %>
  <% end %>

  <p>
    Название<br>
    <%= f.text_field :title, class: 'form-control' %>
  </p>

  <p>
    Текст статьи<br>
    <%= f.text_area :body, class: 'form-control' %>
  </p>
  
  <p class="text-center">
    <%= f.submit class: 'btn btn-outline-success' %>
  </p>
  
<% end %>